:root {
  --shiki-color-text: theme('colors.black');
  --shiki-token-constant: theme('colors.orange.600');
  --shiki-token-string: theme('colors.orange.600');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.sky.600');
  --shiki-token-parameter: theme('colors.pink.600');
  --shiki-token-function: theme('colors.violet.600');
  --shiki-token-string-expression: theme('colors.orange.600');
  --shiki-token-punctuation: theme('colors.zinc.800');
  --toastify-icon-color-info: theme('colors.orange.500') !important;
  --toastify-color-info: theme('colors.orange.500') !important;
  --toastify-color-dark: theme('colors.white') !important;
  --toastify-text-color-dark: theme('colors.zinc.600') !important;
  --toastify-color-light: theme('colors.white') !important;
  --toastify-text-color-light: theme('colors.zinc.600') !important;
}

/* Dark mode styles */
:root.dark {
  --shiki-color-text: theme('colors.white');
  --shiki-token-constant: theme('colors.orange.300');
  --shiki-token-string: theme('colors.orange.300');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.sky.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.orange.300');
  --shiki-token-punctuation: theme('colors.zinc.200');
  --toastify-icon-color-info: theme('colors.orange.500') !important;
  --toastify-color-info: theme('colors.orange.500') !important;
  --toastify-color-dark: theme('colors.zinc.800') !important;
  --toastify-text-color-dark: theme('colors.zinc.300') !important;
  --toastify-color-light: theme('colors.zinc.800') !important;
  --toastify-text-color-light: theme('colors.zinc.300') !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.imagewrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  overflow:hidden;
  width: 70%;
}

.imagewrapper-big {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  overflow:hidden;
}

.videowrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-left: 10px;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .videowrapper {
    max-width: 40rem; /* matches prose max-width-2xl */
  }
}

@media (min-width: 1024px) {
  .videowrapper {
    max-width: 50rem; /* matches prose max-width-3xl */
  }
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 0;
}

.videowrapperadjusted {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-left: 10px;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .videowrapperadjusted {
    max-width: 40rem; /* matches prose max-width-2xl */
  }
}

@media (min-width: 1024px) {
  .videowrapperadjusted {
    max-width: 50rem; /* matches prose max-width-3xl */
  }
}

.videowrapperadjusted iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 0;
}

.spacer-sm {
  height: 5px;
}

.Toastify__close-button {
  color: var(--toastify-text-color-light) !important;
}